<h1> <%= @restaurant.name %> </h1>


<p>Address: <%= @restaurant.address %></p>
<p>Rating: <%= @restaurant.rating %>  </p>


<%= link_to "Delete", restaurant_path(@restaurant),
		method: :delete, data: { confirm: "Are you sure?"}
	 %>